%p#notice= notice

%p
  %b Name:
  = @trip.name
%p
  %b Description:
  = @trip.description

%div.dropdown
  %button.btn.dropdown-toggle{'data-toggle' => 'dropdown'} Dropdown <span class="caret"></span>
  %ul.dropdown-menu{:role => "menu", 'aria-labelledby' => "dropdownMenu"}
    %li
      %a(tabindex="-1" href="#") Action
    %li
      %a(tabindex="-1" href="#") Another action
    %li
      %a(tabindex="-1" href="#") Something else here
    %li.divider
    %li
      %a(tabindex="-1" href="#") Separated link

%table.table
  %tr
    %th Destination
    %th Description
    %th Show
    %th Edit
    %th Delete
  
  - @trip.destinations.each do |destination|
    %tr
      %td= link_to destination.name, edit_trip_destination_path(@trip, destination)
      %td= destination.description
      %td= link_to 'Show', trip_destination_path(@trip,destination)
      %td= link_to 'Edit', edit_trip_destination_path(@trip,destination)
      %td= link_to 'Destroy', trip_destination_path(@trip,destination), :method => :delete, :data => { :confirm => 'Are you sure?' }

%P
  = link_to "New Destination", new_trip_destination_path(@trip)

= link_to 'Edit', edit_trip_path(@trip)
\|
= link_to 'Back', trips_path
