%h1 Listing destinations

%table.table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - @destinations.each do |destination|
    %tr
      %td= destination.name
      %td= destination.description
      %td= link_to 'Show', trip_destination_path(@trip,destination)
      %td= link_to 'Edit', edit_trip_destination_path(@trip,destination)
      %td= link_to 'Destroy', trip_destination_path(@trip,destination), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Destination', new_trip_destination_path(@trip)
= link_to 'Back to trip', @trip
